.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__div {
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-left: 1rem;
  }
}

.characters {
  width: 75%;
  margin-top: 20px;
  padding: 80px 0 30px;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    color: blue;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.character__card {
  background-color: white;
  text-align: center;
  box-shadow: 1px 2px 4px rgb(129, 165, 212);
  transition: all 0.2s;
}
.character__img {
  width: 60%;
  height: 60%;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}
.character__card:hover {
  background-color: rgb(66, 91, 160);
  transform: scale(1.2);
}

.favorites {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 50px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
  }
}
.favorites__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}
