.main {
}
.characters {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: blue;
  padding: 80px 0 30px;
}

.characters__list {
  display: flex;
}
.character__card {
  background-color: white;
  text-align: center;
  box-shadow: 0 0.5px 0.5px;
  transition: all 0.2s;
}
.character__img {
  width: 60%;
  height: 60%;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}
.character__card:hover {
  background-color: blueviolet;
  transform: scale(0.5);
}

.favorites {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: blue;
  padding: 80px 0 30px;
}
