.footer {
  height: 40px;
  width: 100%;
  background-color: blue;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
