.hero {
  height: 25vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('../images/castillo-disney.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__box {
    width: 80vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    margin-bottom: -25px;
    box-shadow: 0 1px 1px;
  }
}

.selection {
  width: 65vw;
  height: 20px;
  border: 1px blue solid;
  position: relative;
}
.submit {
  width: 10vh;
  height: 25px;
  border: 1px blue solid;
  background-color: blue;
  position: relative;
}
